ShortcutEdit[error="true"] {
    color: #FF5555;
}

QTabWidget::pane {
    border: 0px;
}

QTabBar::tear {
    width: 0px;
    border: none;
}

QToolTip {
    border: 1px solid #1D1E27;
    background-color: #44475A;
    color: white;
    padding: 0px;
}

QWidget {
    color: #F8F8F2;
    background-color: #282A36;
    selection-background-color: #F87359;
    selection-color: #000000;
    background-clip: border;
    border-image: none;
    border: 0px transparent black;
    outline: 0;
}
QWidget:item:hover {
    background-color: #44475A;
    color: #F8F8F2;
}

QWidget:item:selected {
    background-color: #44475A;
}

QCheckBox {
    spacing: 5px;
    outline: none;
    color: #F8F8F2;
    margin-bottom: 2px;
}

QCheckBox:disabled {
    color: #44475A;
}

QCheckBox::indicator,
QGroupBox::indicator {
    width: 18px;
    height: 18px;
}

QGroupBox::indicator {
    margin-left: 2px;
}

QCheckBox::indicator:unchecked {
    image: url(./icons/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:focus,
QCheckBox::indicator:unchecked:pressed,
QGroupBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:focus,
QGroupBox::indicator:unchecked:pressed {
    border: none;
    image: url(./icons/checkbox_unchecked_focus.png);
}

QCheckBox::indicator:checked {
    image: url(./icons/checkbox_checked.png);
}

QCheckBox::indicator:checked:hover,
QCheckBox::indicator:checked:focus,
QCheckBox::indicator:checked:pressed,
QGroupBox::indicator:checked:hover,
QGroupBox::indicator:checked:focus,
QGroupBox::indicator:checked:pressed {
    border: none;
    image: url(./icons/checkbox_checked_focus.png);
}

QCheckBox::indicator:indeterminate {
    image: url(./icons/checkbox_indeterminate.png);
}

QCheckBox::indicator:indeterminate:focus,
QCheckBox::indicator:indeterminate:hover,
QCheckBox::indicator:indeterminate:pressed {
    image: url(./icons/checkbox_indeterminate_focus.png);
}

QCheckBox::indicator:checked:disabled,
QGroupBox::indicator:checked:disabled {
    image: url(./icons/checkbox_checked_disabled.png);
}

QCheckBox::indicator:unchecked:disabled,
QGroupBox::indicator:unchecked:disabled {
    image: url(./icons/checkbox_unchecked_disabled.png);
}

QRadioButton {
    spacing: 5px;
    outline: none;
    color: #F8F8F2;
    margin-bottom: 2px;
}

QRadioButton:disabled {
    color: #1E2030;
}

QRadioButton::indicator {
    width: 21px;
    height: 21px;
}

QRadioButton::indicator:unchecked {
    image: url(./icons/radio_unchecked.png);
}

QRadioButton::indicator:unchecked:hover,
QRadioButton::indicator:unchecked:focus,
QRadioButton::indicator:unchecked:pressed {
    border: none;
    outline: none;
    image: url(./icons/radio_unchecked_focus.png);
}

QRadioButton::indicator:checked {
    border: none;
    outline: none;
    image: url(./icons/radio_checked.png);
}

QRadioButton::indicator:checked:hover,
QRadioButton::indicator:checked:focus,
QRadioButton::indicator:checked:pressed {
    border: none;
    outline: none;
    image: url(./icons/radio_checked_focus.png);
}

QRadioButton::indicator:checked:disabled {
    outline: none;
    image: url(./icons/radio_checked_disabled.png);
}

QRadioButton::indicator:unchecked:disabled {
    image: url(./icons/radio_unchecked_disabled.png);
}

QMenuBar {
    background-color: #282A36;
    color: #F8F8F2;
}

QMenuBar::item {
    background: transparent;
}

QMenuBar::item:selected {
    background: #44475A;
    border: 1px solid #282A36;
}

QMenuBar::item:pressed {
    border: 1px solid #282A36;
    background-color: #44475A;
    color: #F8F8F2;
    margin-bottom: -1px;
    padding-bottom: 1px;
}

QMenuBar::item:disabled {
    color: grey;
}

QMenuBar::item:disabled:selected {
    background: transparent;
    color: grey;
}

QMenu {
    border: 1px solid #808080;
    color: #F8F8F2;
    padding: 2px;
}

QMenu::icon {
    margin: 5px;
}

QMenu::icon:checked {
    background: #44475A;
    border: 1px inset #8087A2;
    position: absolute;
    margin: 1px;
    padding: 3px;
}

QMenu::item {
    padding: 5px 30px 5px 30px;
    border: 1px solid transparent;
}

QMenu::item:selected {
    color: #F8F8F2;
}

QMenu::separator {
    height: 2px;
    background: lightblue;
    margin-left: 10px;
    margin-right: 5px;
}

QMenu::indicator {
    width: 18px;
    height: 18px;
    padding-left: 4px;
}

QMenu::indicator:non-exclusive:unchecked {
    image: url(./icons/checkbox_unchecked.png);
}

QMenu::indicator:non-exclusive:unchecked:selected {
    image: url(./icons/checkbox_unchecked_disabled.png);
}

QMenu::indicator:non-exclusive:checked {
    image: url(./icons/checkbox_checked.png);
}

QMenu::indicator:non-exclusive:checked:selected {
    image: url(./icons/checkbox_checked_disabled.png);
}

QMenu::indicator:exclusive:unchecked {
    image: url(./icons/radio_unchecked.png);
}

QMenu::indicator:exclusive:unchecked:selected {
    image: url(./icons/radio_unchecked_disabled.png);
}

QMenu::indicator:exclusive:checked {
    image: url(./icons/radio_checked.png);
}

QMenu::indicator:exclusive:checked:selected {
    image: url(./icons/radio_checked_disabled.png);
}

QMenu::right-arrow {
    margin: 5px;
    image: url(./icons/right_arrow.png)
}

QWidget:disabled {
    color: #646464;
    background-color: #282A36;
}

QAbstractItemView {
    alternate-background-color: #282A36;
    color: #F8F8F2;
    border: 1px solid #282A36;
    border-radius: 2px;
}

QWidget:focus,
QMenuBar:focus {
    border: 1px solid #44475A;
}

QTabWidget:focus,
QCheckBox:focus,
QRadioButton:focus,
QSlider:focus {
    border: none;
}

QLineEdit {
    background-color: #44475A;
    padding: 1px;
    border-style: solid;
    border: 1px solid #282A36;
    border-radius: 2px;
    color: #F8F8F2;
}

QLineEdit:disabled {
    background-color: #1E2030;
}

QAbstractItemView QLineEdit {
    padding: 0;
}

QGroupBox {
    border: 1px solid #282A36;
    border-radius: 2px;
    margin-top: 20px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

QAbstractScrollArea {
    border-radius: 2px;
    border: 1px solid #282A36;
    background-color: transparent;
}

QScrollBar:horizontal {
    height: 18px;
    margin: 4px 16px 4px 16px;
    border: 0;
    border-radius: 4px;
    background-color: #44475A;
}

QScrollBar::handle:horizontal {
    background-color: #6272A4;
    min-width: 5px;
    border-radius: 4px;
}

QScrollBar::add-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(./icons/right_arrow_disabled.png);
    width: 10px;
    height: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    margin: 0px 3px 0px 3px;
    border-image: url(./icons/left_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal:hover,
QScrollBar::add-line:horizontal:on {
    border-image: url(./icons/right_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal:hover,
QScrollBar::sub-line:horizontal:on {
    border-image: url(./icons/left_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
    background: none;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:vertical {
    background-color: #44475A;
    width: 18px;
    margin: 16px 4px 16px 4px;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background-color: #6272A4;
    min-height: 24px;
    border-radius: 4px;
}

QScrollBar::sub-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(./icons/up_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical {
    margin: 3px 0px 3px 0px;
    border-image: url(./icons/down_arrow_disabled.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical:hover,
QScrollBar::sub-line:vertical:on {
    border-image: url(./icons/up_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical:hover,
QScrollBar::add-line:vertical:on {
    border-image: url(./icons/down_arrow.png);
    height: 10px;
    width: 10px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
    background: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}

QTextEdit {
    background-color: #44475A;
    color: #F8F8F2;
    border: 1px solid #282A36;
}

QPlainTextEdit {
    background-color: #44475A;
    ;
    color: #F8F8F2;
    border-radius: 2px;
    border: 1px solid #282A36;
}

QHeaderView::section {
    background-color: #1E2030;
    color: #F8F8F2;
    padding: 5px;
    border: 1px solid #282A36;
}

QSizeGrip {
    image: url(./icons/sizegrip.png);
    width: 12px;
    height: 12px;
}

QMainWindow::separator {
    background-color: #282A36;
    color: white;
    padding-left: 4px;
    spacing: 2px;
}

QMainWindow::separator:hover {
    background-color: #6272A4;
    color: white;
    padding-left: 4px;
    border: 1px solid #282A36;
    spacing: 2px;
}

QMenu::separator {
    height: 1px;
    background-color: #808080;
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QFrame {
    border: 1px solid #282A36;
}

QFrame[frameShape="0"] {
    border: 1px transparent #1E2030;
}

QStackedWidget {
    border: 1px transparent black;
}

QToolBar {
    border: 1px transparent #1E2030;
    background: 1px solid #282A36;
    font-weight: bold;
}

QToolBar::handle:horizontal {
    image: url(./icons/Hmovetoolbar.png);
}

QToolBar::handle:vertical {
    image: url(./icons/Vmovetoolbar.png);
}

QToolBar::separator:horizontal {
    image: url(./icons/Hsepartoolbar.png);
}

QToolBar::separator:vertical {
    image: url(./icons/Vsepartoolbar.png);
}

QToolButton#qt_toolbar_ext_button {
    background: #58595a
}

QPushButton {
    color: #F8F8F2;
    background-color: #282A36;
    border-width: 1px;
    border-color: #808080;
    border-style: solid;
    padding: 5px;
    border-radius: 2px;
    outline: none;
}

QPushButton:disabled {
    background-color: #282A36;
    border-width: 1px;
    border-color: #454545;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    color: #646464;
}

QPushButton:focus {
    background-color: #44475A;
    color: white;
}

QPushButton:pressed {
    background-color: #44475A;
    padding-top: -15px;
    padding-bottom: -17px;
}

QComboBox, QFontComboBox {
    selection-background-color: #F87359;
    selection-color: #000000;
    border-style: solid;
    border: 1px solid #1D1E27;
    border-radius: 2px;
    padding: 5px;
    min-width: 75px;
}

QPushButton:checked {
    background-color: #1E2030;
    border-color: #1E2030;
}

QPushButton:hover {
    border: 1px solid #F8F8F2;
    color: #F8F8F2;
}

QComboBox:hover,
QAbstractSpinBox:hover,
QLineEdit:hover,
QTextEdit:hover,
QPlainTextEdit:hover,
QAbstractView:hover,
QTreeView:hover {
    border: 1px solid #646464;
    color: #F8F8F2;
}

QComboBox:on {
    padding-top: 3px;
    padding-left: 4px;
    selection-background-color: #4a4a4a;
}

QComboBox QAbstractItemView {
    background-color: #44475A;
    border-radius: 2px;
    border: 1px solid #282A36;
    selection-background-color: #44475A;
    selection-color: #ffffff;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;
    border-left-width: 0px;
    border-left-color: darkgray;
    border-left-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

QComboBox::down-arrow {
    image: url(./icons/down_arrow_disabled.png);
}

QComboBox::down-arrow:on,
QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus {
    image: url(./icons/down_arrow.png);
}

QAbstractSpinBox {
    padding: 5px;
    border: 0;
    background-color: #44475A;
    color: #F8F8F2;
    border-radius: 2px;
    min-width: 75px;
}

QAbstractSpinBox:up-button {
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: center right;
}

QAbstractSpinBox:down-button {
    background-color: transparent;
    subcontrol-origin: border;
    subcontrol-position: center left;
}

QAbstractSpinBox::up-arrow,
QAbstractSpinBox::up-arrow:disabled,
QAbstractSpinBox::up-arrow:off {
    image: url(./icons/up_arrow_disabled.png);
    width: 10px;
    height: 10px;
}

QAbstractSpinBox::up-arrow:hover {
    image: url(./icons/up_arrow.png);
}

QAbstractSpinBox::down-arrow,
QAbstractSpinBox::down-arrow:disabled,
QAbstractSpinBox::down-arrow:off {
    image: url(./icons/down_arrow_disabled.png);
    width: 10px;
    height: 10px;
}

QAbstractSpinBox::down-arrow:hover {
    image: url(./icons/down_arrow.png);
}

QLabel {
    border: 0px solid black;
}

QTabWidget {
    border: 0px transparent black;
}

QTabWidget::pane {
    border: 1px solid #282A36;
    padding: 1px;
    margin: 0px;
}

QTabBar {
    qproperty-drawBase: 0;
}

QTabBar:focus {
}

QTabBar::close-button {
    image: url(./icons/close.png);
    background: transparent;
}

QTabBar::close-button:hover {
    image: url(./icons/close-hover.png);
    background: transparent;
}

QTabBar::close-button:pressed {
    image: url(./icons/close-pressed.png);
    background: transparent;
}

QTabBar::tab {
    color: #F8F8F2;
    background-color: #44475A;
    padding: 3px;
    padding: 4px 10px;

    border: 1px solid #282A36;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

QTabBar::tab:selected {
    background-color: #44475A;
    color: #F87359;
    border-bottom: 2px solid #F87359;
}

QTabBar::tab:hover {
    background-color: #44475A;
}

QTabBar QToolButton {
    border-width: 1px;
    border-color: #515151;
    border-style: solid;
    border-radius: 2px;
    background: #282A36;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

QTabBar QToolButton::hover {
    background: #282A36;
    border: 1px solid #6272A4;
}

QTabBar::scroller {
    width: 15px;
}

QTabBar QToolButton::right-arrow:enabled {
    image: url(./icons/right_arrow.png);
}

QTabBar QToolButton::left-arrow:enabled {
    image: url(./icons/left_arrow.png);
}

QTabBar QToolButton::right-arrow:disabled {
    image: url(./icons/right_arrow_disabled.png);
}

QTabBar QToolButton::left-arrow:disabled {
    image: url(./icons/left_arrow_disabled.png);
}

QDockWidget {
    background: #282A36;
    border: 1px solid #282A36;
    titlebar-close-icon: url(./icons/close.png);
    titlebar-normal-icon: url(./icons/undock.png);
}

QDockWidget::close-button,
QDockWidget::float-button {
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
}

QDockWidget::close-button:hover,
QDockWidget::float-button:hover {
    background: rgba(255, 255, 255, 10);
}

QDockWidget::close-button:pressed,
QDockWidget::float-button:pressed {
    padding: 1px -1px -1px 1px;
    background: rgba(255, 255, 255, 10);
}

QTreeView,
QListView {
    background-color: #44475A;
}

QTreeView:branch:selected,
QTreeView:branch:hover {
    background: url(./icons/transparent.png);
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(./icons/transparent.png);
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(./icons/transparent.png);
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(./icons/transparent.png);
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    image: url(./icons/branch_closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
    image: url(./icons/branch_open.png);
}

QTreeView::branch:has-children:!has-siblings:closed:hover,
QTreeView::branch:closed:has-children:has-siblings:hover {
    image: url(./icons/branch_closed-on.png);
}

QTreeView::branch:open:has-children:!has-siblings:hover,
QTreeView::branch:open:has-children:has-siblings:hover {
    image: url(./icons/branch_open-on.png);
}

QListView::item:!selected:hover,
QTreeView::item:!selected:hover {
    background: #44475A;
    outline: 0;
    color: #F8F8F2
}

QListView::item:selected:hover,
QTreeView::item:selected:hover {
    background: #44475A;
    color: #F8F8F2;
}

QTreeView::indicator:checked,
QListView::indicator:checked {
    image: url(./icons/checkbox_checked.png);
}

QTreeView::indicator:unchecked,
QListView::indicator:unchecked {
    image: url(./icons/checkbox_unchecked.png);
}

QTreeView::indicator:checked:hover,
QTreeView::indicator:checked:focus,
QTreeView::indicator:checked:pressed,
QListView::indicator:checked:hover,
QListView::indicator:checked:focus,
QListView::indicator:checked:pressed {
    image: url(./icons/checkbox_checked_focus.png);
}

QTreeView::indicator:unchecked:hover,
QTreeView::indicator:unchecked:focus,
QTreeView::indicator:unchecked:pressed,
QListView::indicator:unchecked:hover,
QListView::indicator:unchecked:focus,
QListView::indicator:unchecked:pressed {
    image: url(./icons/checkbox_unchecked_focus.png);
}

QSlider::groove:horizontal {
    border: 1px solid #282A36;
    height: 4px;
    background: #1E2030;
    margin: 0px;
    border-radius: 2px;
}

QSlider::handle:horizontal {
    background: #44475A;
    border: 1px solid #282A36;
    width: 16px;
    height: 16px;
    margin: -8px 0;
    border-radius: 9px;
}

QSlider::groove:vertical {
    border: 1px solid #282A36;
    width: 4px;
    background: #1E2030;
    margin: 0px;
    border-radius: 3px;
}

QSlider::handle:vertical {
    background: #44475A;
    border: 1px solid #282A36;
    width: 16px;
    height: 16px;
    margin: 0 -8px;
    border-radius: 9px;
}

QToolButton {
    background-color: transparent;
    border: 1px transparent #1E2030;
    border-radius: 2px;
    margin: 3px;
    padding: 3px;
}

QToolButton:hover {
    background-color: transparent;
    border: 1px solid #44475A;
}

QToolButton:checked,
QToolButton:pressed {
    background-color: #44475A;
    border: 1px solid #44475A;
}

QHeaderView {
    border-radius: 0px;
}

QListView::item:pressed,
QTreeView::item:pressed {
    background: #44475A;
    color: #F8F8F2;
}

QTreeView::item:selected:active,
QListView::item:selected:active {
    background: #44475A;
    color: #F8F8F2;
}

QHeaderView {
    background-color: #282A36;
    margin: 0px;
    padding: 0px;
}

QHeaderView::section {
    background-color: #44475A;
    color: #F8F8F2;
    padding: 0 3px 0 3px;
    border: none;
    text-align: center;
}

QHeaderView::section::vertical::first,
QHeaderView::section::vertical::only-one {
    border-top: 1px solid #44475A;
}

QHeaderView::section::vertical {
    border-top: transparent;
}

QHeaderView::section::horizontal::first,
QHeaderView::section::horizontal::only-one {
    border-left: 1px solid #44475A;
}

QHeaderView::section::horizontal {
    border-left: transparent;
}

QHeaderView::section:checked {
    color: white;
    background-color: #44475A;
}

QHeaderView::down-arrow {
    image: url(./icons/down_arrow.png);
}

QHeaderView::up-arrow {
    image: url(./icons/up_arrow.png);
}

QStatusBar::item {
    border: none;
}

QSplitter::handle {
    background-color: #515151;
}

QSplitter::handle:hover {
    background-color: #808080;
}

QProgressBar {
    border: 1px solid #282A36;
    border-radius: 4px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #F87359;
}

QStatusBar QFrame {
    qproperty-frameShape: Panel;
    qproperty-frameShadow: Sunken;
}

QStatusBar::item {
    border: none;
}


DebugStatusLabel[state="initialized"] {
    color: #00dd00;
}

DebugStatusLabel[state="paused"] {
    color: #828229;
}

DebugStatusLabel[state="running"] {
    color: #000000;
}

DebugStatusLabel[state="stopped"] {
    color: #ff0000;
}

QPushButton#AbstractTableViewHeader QPushButton:pressed {
    background-color: rgb(192, 192, 192);
    border-style: inset;
}

ShortcutEdit {
    color: #222222;
}

ShortcutEdit[error="true"] {
    color: #dd0000;
}

QTabWidget::pane {
    border: 0px;
}

QTabBar::tear {
    width: 0px;
    border: none;
}
QTableView, QListView {
    selection-color: #c8c8c8;
}

DisassemblyPopup {
    border: 1px solid #c0c0c0;
}
